.toggleBar {

    &__position {
        margin-right: 15px;
        //test style
        // box-shadow: 0 1px 1px 0 #cccccc;
    }

    &__flex {
        display: flex;
        flex-direction: row;
    }
}

.svg {
    height: 19px;
    width: 11px;
    vertical-align: middle;
    margin-left: 7px;
}