.main {

    &__title {         
        margin-bottom: 15px;
    }

    &__searchBar, &__toggle {
        margin-bottom: 15px;
    }
}


.title {
    font-weight: 300;
    font-size: 35px; 
}

.inputSearch {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    // height: 30px;
    // font-size: 15px;
    padding: 5px;

    height: 44px;
    font-size: 17px;
    font-weight: 300;
}

.inputCheckBox {
    margin-left: 15px;
    margin-right: 0;
}

.button {
    border: 1px solid #CFD2D9;
    border-radius: 4px;
    background-color: transparent;
    // height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    font-weight: 300;
    font-size: 17px;
    // color: white;

    &_add {
        // font-size: 15px;
        // padding: 4px 10px;
        margin-left: 15px;
    }
}

.elem {
    background-color: white;
    border: 1px solid #E2E5EC;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 2px 2px 2px 0px #d2d6da;
    font-size: 20px;
    font-weight: 300;
}