.main {

    font-weight: 300;
    font-size: 20px; 

    &__title {         
        margin-bottom: 15px;
    }

    &__searchBar, &__toggle, &__add{
        margin-bottom: 15px;
    }
    
    &__weather {
        padding-bottom: 20px;
    }
}

.title {
    font-size: 35px; 
}

.inputSearch {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 5px;
    height: 44px;
    font-size: 17px;
    font-weight: 300;
}

.inputCheckBox {
    margin-left: 15px;
    margin-right: 0;
}

.button {
    border: 1px solid #CFD2D9;
    border-radius: 4px;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    font-weight: 300;
    font-size: 17px;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
        border-color: #3f669f;
    }

    &_add {
        margin-left: 15px;
    }
}

input, select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}



