.main {

    &__title {         
        margin-bottom: 15px;
    }

    &__searchBar, &__toggle, &__add {
        margin-bottom: 15px;
    }
}


.title {
    font-weight: 300;
    font-size: 35px; 
}

.inputSearch {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    // height: 30px;
    // font-size: 15px;
    padding: 5px;

    height: 44px;
    font-size: 17px;
    font-weight: 300;
}

.inputCheckBox {
    margin-left: 15px;
    margin-right: 0;
}

.button {
    border: 1px solid #CFD2D9;
    border-radius: 4px;
    background-color: transparent;
    // height: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    font-weight: 300;
    font-size: 17px;
    // color: white;

    &_add {
        // font-size: 15px;
        // padding: 4px 10px;
        margin-left: 15px;
    }
}

.elements {

    &__position {
        margin-bottom: 20px;
    }
}

.elem {
    background-color: white;
    border: 1px solid #E2E5EC;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 2px 2px 2px 0px #d2d6da;
    font-size: 20px;
    font-weight: 300;

    &__content {
        border-bottom: 1px solid #E2E5EC;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    &__button {
        // display: inline-block;
    }

    &__position {
        margin-left: 15px;
    }
    &__action {
        // display: inline-block;
        // line-height: 10px;
        flex-grow: 1;
        font-weight: 400;
    }
    &__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    &__note {
        font-size: 16px;
        cursor: pointer;
        font-style: italic;
        
    }
    &__noteBlock {
        flex-grow: 1;
    }
}

.tools-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input, select {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

}

.weather {
    font-weight: 300;
    font-size: 20px; 
}