.weather {
    

    &__info {
        background-color: white;
        display: inline-block;
        box-shadow: 2px 2px 2px #d4d8dc;
        padding: 10px;
    }
    &__city {
        font-size: 25px;
    }
    &__temp {
        font-size: 35px;
        margin-right: 15px;

    }
    &__img {
        
    }
    &__flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    &__description {
        margin-bottom: 10px;
        font-size: 23px;
    }
    
}